<title>Lending Hand - Mod Page</title>
<link rel="icon" href="https://cdn.glitch.com/a1d52a90-09e0-4755-8054-b7d1c59f8abe%2FLendingHandWeireder.png?v=1594829173685">
<%- include('bootheader') -%>
<%- include('menubar') -%>
<!--a moderation page. only accessable to certain accounts. Adds ability to remove posts -->
<%if(loggedIn){ %> 
<h1>
  WELCOME TO MOD VIEW
</h1>
<html>
   <head>
      <title>HTML Background Color</title>
   </head>
   <body style="background-color:lightblue;">
   </body>
</html>
<h2>
  <a href="/deleteAll" onclick="return confirm('Are you sure?')">Remove All Posts</a>
</h2>
<form method = "post" action = "/deleteAUser">
        <p style ="font-size:120%">Delete a User Account By Username: </p><input type = "text" placeholder = "Username" name = "deluser">
          <input type = "submit" value = "Delete">
                <i>You will be redirected back to this page if no user is found. Don't delete fellow mod accounts-it is set to not let you without a change to server-side code</i>
      </form>
<subtitle> If there are no posts here, the site is either broken or all posts have been removed
</subtitle>
<br>
<a href='/reportSearch'><button>View Reported Posts</button></a>
 <% events.forEach(x => {%>  <!-- ok they are good -->
  <hr> <h5> <%= x.nameEvent %> </h5> 
  Zip Code: <%= x.zip %> <br>
  Event Date: <%= x.date %> <br>
  Starts: <%= x.sTime %>, Duration: <%= x.duration%> hours <br>
  Location: <%=x.location%> <br>
  <%= x.description %> <br>
  <%= x.maxpeople %> people are needed for this event. <br>
  <%= x.signed_up_people.length %> people have signed up. <br>
  Tags: <%=x.tag%><br>
  Reported: <%=x.reported%> times. Reports: <%=x.reports%> <br>
<!-- The issue was declaring the variable as a boolean, you can't do that in JS for some reason and have to be general and do "let"
or const -->
  <% 
  let a = false;
  x.signed_up_people.forEach( signed_up =>
  {
      if (signed_up === user.email)
      {
         a = true;
      }
  })
  %>
<!--anyone who wants to mod can add their UID to the if statement below, just copy the other formats-->
      <%if (user._id==="5f106e3d4f6f1f2d355f20fb"||user._id==="5f075797a87c4a3967960b27"||user._id==="5f088f91e0b9122d91d4bac5"||user._id==="5f08c55e95292512aacb6606"||user._id=="5f0dd6b60235ad4df6e54fe2"||user._id==="5f0c7e02f0e8975ab02b7e64"||user._id==="5f0c7e02f0e8975ab02b7e64"||user._id==="5f07590598b1743ebe6c8df3"||user._id==="5f075797a87c4a3967960b27"||user._id==="5f08bdb70800b57675618df2"||user._id==="5f0758e298b1743ebe6c8df2"||user._id==="5f0c6ecdf91a4412e588c4af" || user._id ==="5f0c6ecdf91a4412e588c4af"){%>
  <form method="post" action="/removeevent" >
    <input type="hidden" name = "event_id" value = "<%= x._id %>">
    <input type="submit" value="Remove" />
</form>
<%}%>
<html>
   <head>
      <title>HTML Background Color</title>
   </head>
   <body style="background-color:lightblue;">
   </body>
</html>
<!-- Marko messed this up -->

<% }) %>

<%}else{ %>
<h1>
   You have to log in to view your personalized feed
</h1>
<hr>
<form action="/register">
   <input type="submit" value="Login/Register Now" />
</form>

<html>
   <head>
      <title>HTML Background Color</title>
   </head>
   <body style="background-color:lightblue;">
   </body>
</html>

<%} %> 
<%- include('bootfooter') -%>